@{
    ViewData["Title"] = "Home Page";

}
@using Microsoft.AspNetCore.Http

<!-- Start slider -->
@await Component.InvokeAsync("Slider")

@await Component.InvokeAsync("ProductList")
<!-- / popular section -->
<!-- Support section -->

@await Component.InvokeAsync("PopularProduct")
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>BEDAVA KARGO</h4>
                            <P>Kargo Ücreti Almıyoruz. Ürünlerimiz online ödeme şeklinde yapılır.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>3 GÜN İÇİNDE GERİ İADE</h4>
                            <P>Ürün yanlış geldi ürün hatalı gibi durumlarda geri iade hakkınız en az 3 iş günü içinde olmalıdır.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>7/24 TEKNİK DESTEK</h4>
                            <P>Cep telefonu numaramızdan bize ulaşıp 7/24 destek alabilirsiniz.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->
<!-- Testimonial -->
<!--<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <ul class="aa-testimonial-slider">-->
                        <!-- single slide -->
                        <!--<li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="~/dailyShop/img/testimonial-img-2.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                                <div class="aa-testimonial-info">
                                    <p>Allison</p>
                                    <span>Designer</span>
                                    <a href="#">Dribble.com</a>
                                </div>
                            </div>
                        </li>-->
                        <!-- single slide -->
                        <!--<li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="~/dailyShop/img/testimonial-img-1.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                                <div class="aa-testimonial-info">
                                    <p>KEVIN MEYER</p>
                                    <span>CEO</span>
                                    <a href="#">Alphabet</a>
                                </div>
                            </div>
                        </li>-->
                        <!-- single slide -->
                        <!--<li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="~/dailyShop/img/testimonial-img-3.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                                <div class="aa-testimonial-info">
                                    <p>Luner</p>
                                    <span>COO</span>
                                    <a href="#">Kinatic Solution</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- / Testimonial -->
<!-- Latest Blog -->
<!--<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>LATEST BLOG</h2>
                    <div class="row">-->
<!-- single latest blog -->
<!--<div class="col-md-4 col-sm-4">
    <div class="aa-latest-blog-single">
        <figure class="aa-blog-img">
            <a href="#"><img src="~/dailyShop/img/promo-banner-1.jpg" alt="img"></a>
            <figcaption class="aa-blog-img-caption">
                <span href="#"><i class="fa fa-eye"></i>5K</span>
                <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                <a href="#"><i class="fa fa-comment-o"></i>20</a>
                <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
            </figcaption>
        </figure>
        <div class="aa-blog-info">
            <h3 class="aa-blog-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.</p>
            <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
        </div>
    </div>
</div>-->
<!-- single latest blog -->
<!--<div class="col-md-4 col-sm-4">
    <div class="aa-latest-blog-single">
        <figure class="aa-blog-img">
            <a href="#"><img src="~/dailyShop/img/promo-banner-3.jpg" alt="img"></a>
            <figcaption class="aa-blog-img-caption">
                <span href="#"><i class="fa fa-eye"></i>5K</span>
                <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                <a href="#"><i class="fa fa-comment-o"></i>20</a>
                <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
            </figcaption>
        </figure>
        <div class="aa-blog-info">
            <h3 class="aa-blog-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.</p>
            <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
        </div>
    </div>
</div>-->
<!-- single latest blog -->
<!--<div class="col-md-4 col-sm-4">
                            <div class="aa-latest-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="#"><img src="~/dailyShop/img/promo-banner-1.jpg" alt="img"></a>
                                    <figcaption class="aa-blog-img-caption">
                                        <span href="#"><i class="fa fa-eye"></i>5K</span>
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                        <a href="#"><i class="fa fa-comment-o"></i>20</a>
                                        <span href="#"><i class="fa fa-clock-o"></i>June 26, 2016</span>
                                    </figcaption>
                                </figure>
                                <div class="aa-blog-info">
                                    <h3 class="aa-blog-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.</p>
                                    <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- / Latest Blog -->
<!-- Client Brand -->
@*<section id="aa-client-brand">
    <div class="container">
        <div class="row">y
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class="aa-client-brand-slider">
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-java.png" alt="java img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-jquery.png" alt="jquery img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-html5.png" alt="html5 img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-css3.png" alt="css3 img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-joomla.png" alt="joomla img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-java.png" alt="java img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-jquery.png" alt="jquery img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-html5.png" alt="html5 img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-css3.png" alt="css3 img"></a></li>
                        <li><a href="#"><img src="~/dailyShop/img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- / Client Brand -->
<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Subscribe our newsletter </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                    <form method="post" asp-controller="Subscribe" asp-action="Add" class="aa-subscribe-form">
                        <input type="email" name="Email" id="" placeholder="E mail adresinizi giriniz">
                        <input type="hidden" name="UserAdminId" value="@Context.Session.GetString("Id")"/>
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->