@model Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <form method="post" enctype="multipart/form-data" asp-antiforgery="true">


                    <label>Slider</label>
                    <input type="file" asp-for="@Model.SliderImage" multiple />
                    <br />

                    <button type="submit" class="btn btn-warning">Ekle</button>
                    <br />


                </form>

            </div>
        </div>
    </div>
</div>

