@model List<Image>
@{
    ViewData["Title"] = "ImageList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="card-header">
                    <h2>Resimler</h2>
                </div>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <img src="~/img/@item.ImageName" width="80" height="80" />
                            <br /><br />
                            <a asp-action="ImageUpdate" asp-route-id="@item.ImageId" class="btn btn-primary" style="margin-bottom:10px;">Güncelle</a>
                            <a asp-action="ImageDelete" asp-route-id="@item.ImageId" class="btn btn-danger" style="margin-bottom:10px;" onclick="return confirm('silmek istediğinize emin misiniz?')">Sil</a>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


