
@{
    ViewData["Title"] = "OrderMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top:30px;">

            <h4 class="text-center" style="color:#0bee44">Ürününüzü Başarıyla Sipariş Verdiniz En Yakın Zamanda Kargoya Verilecektir.</h4>

        </div>
    </div>
</div>

