@model List<Product>
@{
    ViewData["Title"] = "RunningOutStock";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">Henüz stok adeti riskli durumda olan bir ürün yok</div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-bordered table table-striped">
        <tr>
            <th>Resim</th>
            <th>Ad</th>
            <th>Fiyat</th>
            <th>Stok Adeti</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/img/@item.Images.Where(x=>x.ProductId==item.ProductId).Select(x=>x.ImageName).FirstOrDefault()" width="70" height="70" /></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                </tr>
            }

        </tbody>
    </table>

}


