

@model List<EntityLayer.Entity.Category>

<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        @foreach (var item in Model)
                        {
                            <li><a asp-controller="Category" asp-action="Details" asp-route-id="@item.CategoryId">@item.Name</a></li>

                        }


                        @*<li>
                                <a href="#">Men <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Casual</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Formal</a></li>
                                    <li><a href="#">Standard</a></li>
                                    <li><a href="#">T-Shirts</a></li>
                                    <li><a href="#">Shirts</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Trousers</a></li>
                                    <li>
                                        <a href="#">And more.. <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sleep Wear</a></li>
                                            <li><a href="#">Sandals</a></li>
                                            <li><a href="#">Loafers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@



                        <ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>