
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">Bu sayfaya erişim hakkınız bulunmamaktadır.</div>
        </div>
    </div>
</div>


