@model ChangePasswordModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

@if (ViewBag.success != null)
{
    <div class="alert alert-success">@ViewBag.success</div>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <form method="post" asp-action="ChangePassword">
                            <label>Eski Şifre</label>
                            <input class="form-control" asp-for="OldPassword" type="password" />
                            <br />
                            <label>Yeni Şifre</label>
                            <input class="form-control" asp-for="NewPassword" type="password" />
                            <br />
                            <label>Yeni Şifre Tekrar</label>
                            <input class="form-control" asp-for="ConfirmPassword" type="password" />
                            <br />
                            <button type="submit" class="btn btn-warning">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>