
@model ResetPasswordModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h3 style="text-align:center; margin-top:20px;">Şifre mi Unuttum</h3>

<hr />
@if (ViewBag.State == null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <form method="post" asp-action="ResetPassword">
                                <label>Eposta Adresiniz</label>
                                <input type="email" asp-for="Email" class="form-control" />
                                <br />
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
    }
    else
    {
        @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
    }
}

