@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <form method="post" asp-antiforgery="true">
                    <input type="hidden" asp-for="CategoryId" />
                    <div asp-validation-summary="ModelOnly"></div>
                    <label>Kategori Adı</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

