
<div class="col-md-3 col-sm-6">
    <div class="aa-footer-widget">
        <div class="aa-footer-widget">
            <h3>İletişim</h3>
            <address>
                <p> 25 Astor Pl, NY 10003, USA</p>
                <p><span class="fa fa-phone"></span>+1 212-982-4589</p>
                <p><span class="fa fa-envelope"></span>dailyshop@gmail.com</p>
            </address>
            <div class="aa-footer-social">
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-google-plus"></span></a>
                <a href="#"><span class="fa fa-youtube"></span></a>
            </div>
        </div>
    </div>
</div>